*{
	margin:0;
	padding:0;
}
div{
	box-sizing: border-box;
}
.clearfix:after {
  content: '';
  display: table;
  width:100%;
  clear: both;
}

@font-face {
	font-family:Raleway;
	src:url(../fonts/RalewaySemiBold.ttf);
}
@font-face {
	font-family:Virgo;
	src:url(../fonts/virgo.ttf);
}

@font-face {
	font-family:RalewayExtraBold;
	src:url(../fonts/RalewayExtraBold.ttf);
}

@font-face {
	font-family:Quantum;
	src:url(../fonts/Quantum.otf);
}

@font-face {
	font-family:RalewaySemiBold;
	src:url(../fonts/RalewaySemiBold.ttf);
}

@font-face {
	font-family:RalewayExtraBold;
	src:url(../fonts/RalewayExtraBold.ttf);
}

html{
	padding-bottom: 20px;
	width: 100%;
}
body{
	background-color: #28e4e4;
	width: 100%;
}

.container{
	width:1425px;
	margin:0 auto;
}

.logo{
	float:left;
}
.logo img{
	margin-top:15px;
}


.menu{
	float:left;
	margin-left:230px;
}
.menu a{
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size:15px;
	font-family: Raleway;
}

.menu a:hover{
	color:#000;
	transition: .7s;
}
.menu li{
	float:left;
	display: block;
	margin-right: 87px;
	margin-top:30px;
}

.signup{
	margin-top: 22px;
	padding-top: 5px;
	float:right;
	width:90px;
	height:26px;
	background-color: #fff798;
	text-align: center;
	border-radius: 3px;
}

.signup a{
	font-family: Raleway;
	font-size:15px;
	text-transform: uppercase;
	color:#000;
	text-decoration: none;
}

.tournaments{
	float: left;
	color:#000;
	font-size: 15px;
	text-transform: uppercase;
	font-family:RalewaySemiBold;
	margin-top: 125px;
}

.tourinfo {
	float:left;

	margin-top: 58px;
}

.tourinfo .esl{
	float:left;
}



.tourinfo div{
	float: left;
	background-color: #4de0b4;
	width:235px;
	height:160px;
	border-radius:3px;
	box-shadow: -5px 5px 10px rgba(0.1,0.1,0.1,0.3);
}

.esl img{
	float: left;
	width: 180px;
	height: 107px;
	margin-left: 20px;
	margin-top: 7px;
}

.esl p{
	font-family: RalewayExtraBold;
	float: left;
	text-transform: uppercase;
	font-size: 15px;
	color:#43415c;
	margin-top: 15px;
	margin-left: 10px;
}

.esl .price{
	float: right;
	font-family: Quantum;
	font-size: 15px;
	color:#fff;
	text-transform: uppercase;
	margin-top: 20px;
	margin-right:10px;
}
.esl{
	margin-left: 50px;
	float: left;
	margin-top: 200px;
}




.news{
	color:#000;
	font-size: 15px;
	text-transform: uppercase;
	font-family:RalewaySemiBold;
	margin-top:500px;
}


.newsinfo img{
	float: left;
	width: 672px;
	height: 386px;
	margin-top: 131px;
}

.newstext{
	margin-left: 33px;
	float: left;
	margin-top: 131px;
	font-family:RalewayExtraBold;
	text-transform: uppercase;
	font-size: 20px;
	width: 635px;
	height: 326px;
}

.newstext .news{
		width: 635px;
	height: 326px;
}

.readmore{
	margin-top: 28px;
	width: 543px;
	height: 72px;
	background-color: #dab7f0;
	text-align:center;
	font-size: 30px;
	font-family:RalewayExtraBold;
	padding-top: 20px;
	border: 1px solid #000;
	border-radius: 3px;
	box-shadow: 0px 10px 10px rgba(0.1,0.1,0.1,0.3);
}

.readmore a{
	color:#000;
	text-decoration: none;
}

.imges{
	height: 300px;
	margin-top: 700px;
}

.imges div{
	margin-top: 20px;
}

.youtube p{
	float: left;
	text-transform: uppercase;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 20px;
	font-family: RalewayExtraBold;
}

.youtube img{
	float: left;
}


.vk p{
	float: left;
	text-transform: uppercase;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 20px;
	font-family: RalewayExtraBold;
}

.vk img{
	float: left;
}

.twitch p{
	float: left;
	text-transform: uppercase;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 20px;
	font-family: RalewayExtraBold;
}


.twitch img{
	float: left;
}