*{
	margin:0;
	padding:0;
}
div{
	box-sizing: border-box;
}
.clearfix:after {
  content: '';
  display: table;
  width:100%;
  clear: both;
}

@font-face {
	font-family:Raleway;
	src:url(../fonts/RalewaySemiBold.ttf);
}
@font-face {
	font-family:Virgo;
	src:url(../fonts/virgo.ttf);
}

@font-face {
	font-family:RalewayExtraBold;
	src:url(../fonts/RalewayExtraBold.ttf);
}

@font-face {
	font-family:Quantum;
	src:url(../fonts/Quantum.otf);
}

@font-face {
	font-family:RalewaySemiBold;
	src:url(../fonts/RalewaySemiBold.ttf);
}

@font-face {
	font-family:RalewayExtraBold;
	src:url(../fonts/RalewayExtraBold.ttf);
}

@font-face {
	font-family:Robot;
	src:url(../fonts/Robot.ttf);
}
html{
	padding-bottom: 20px;
	width: 100%;
}
body{
	background-color: #28e4e4;
	width: 100%;
}

.window{
	width:250px;
	height:350px;
	background-color:#4da4d6; 
	margin:0 auto;
	margin-top:340px;
	border-radius: 10px;
	padding: 40px;
	font-family: Robot;
	font-size: 25px;
	color:#f1ffdc;
	text-transform: uppercase;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.login{
	margin-top:20px;
}

.pass{
	margin-top:20px;
}

.window input{
	border-color: #f4bf4d;
	border-radius: 4px;
}


.window input:focus{
	border-color: #83f87b;
}

.dologin{
	margin-top: 40px;
}

.dologin input{
	font-family: Robot;
	border: 0.5px solid #2bebb3;
	border-radius: 4px;
	text-transform: uppercase;
	margin-left:25px;
	background-color: #000;
	width:120px;
	height:30px;
}


#err{
	width: 100%;
	background-color: #f24444;
	height: 50px;
	text-align: center;
	font-family: Robot;
	text-transform: uppercase;
	padding-top: 15px;
}
.regist{
	margin-top: 20px;
}
.regist p {
	font-size: 15px;
	font-family: Robot;
	text-transform: uppercase;
}

.regist a{
	text-decoration: none;
	color:#f1ffdc;
}


.regist a:hover{
	color:#485ae5;
	transition: .7s;
}